numpy>=1.16.0,<1.20.0
pygame>=2.0.0
scipy>=1.5.0
matplotlib>=3.3.0
# The following are standard libraries that don't need to be installed
# sys
# glob
# os
# socket
# pickle
# time
# json
# struct
# math
# random
# threading
# queue 